@import './variable.css';
@import './lib.css';
@import './norm.css';
@import './landing.css';
@import './section-2.css';
@import './section-3.css';
@import './footer.css';
html {
  width: 100%;
  overflow-x: none;
  /* background-color: red; */
}
body {
  overflow-x: none;

  width: 100vw;
  /* background: yellow; */
}
