section#section-3 {
  height: 100vh;
  width: 100%;
  /* background: red; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* padding-top: 0; */
}
section#section-3 header h1 {
  font-size: 2.7em;
  padding: 10px;
}
section#section-3 article {
  height: 50vh;
  margin-bottom: 20px;
  /* background-color: red; */
  display: flex;
  width: 100%;
  /* background: red; */
  overflow-x: auto;
  flex-flow: row nowrap;
  align-items: center;
}
section#section-3 ::-webkit-scrollbar {
  width: 15px;
  display: none;
}

section#section-3 article div.card {
  height: 50%;
  min-width: 80vw;
  margin: 0 30px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  background-color: hsla(227, 12%, 61%, 0.178);
  padding: 0 20px;
}
section#section-3 article div.card img {
  position: absolute;
  width: 25%;
  height: auto;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
section#section-3 article div.card h4 {
  text-align: center;
}
section#section-3 article div.card p {
  font-size: 1em;
  text-align: center;
  color: rgb(68, 68, 68);
  /* font-size: 0.8em; */
}

@media (min-width: 370px) {
  section#section-3 {
    padding-top: 8%;
  }
  section#section-3 article {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section#section-3 article div.card {
    height: 50%;
    min-width: 25%;
    max-width: 25%;
  }
}
